<div id="signup-content" class="auth-content">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui large form #{flash[:error].present? ? 'error' : ''}" }) do |f| %>
        <h2><%= image_tag 'thick_logo_dark_80a', class: 'ui mini image' %> Log in to Ping Pong</h2>
        
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui input">
              <%= f.email_field :email, placeholder: 'E-mail', autofocus: true %>
            </div>
          </div>

          <div class="field">
            <div class="ui input">
              <%= f.password_field :password, placeholder: 'Password', autocomplete: "off" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <div class="ui checkbox">
                <%= f.check_box :remember_me, class: 'hidden' %>
                <%= f.label :remember_me %>
              </div>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit 'Log in', class: 'ui fluid big blue submit button' %>
          </div>

          <div class="ui divider"></div>

          <%= render 'devise/shared/links' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

      
